.cp{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cp_i{
    width:180px;
    height: 180px;
    object-fit: contain;
}
.cp_in{
    width: 500px;
    padding-left: 20px;
}
.cp_in > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.cp_t{
    font-size: 17px;
    font-weight: 800;
}
.cp_r{
    display: flex;
}